@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500;600&family=Varela+Round&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white1: #FFF4F4 ;
    --white2: #F5F5F5;
    --blue: #1f80ff;
    --pink1:#eb287b;
    --pink2:#ae0288;
    --black1:#1d2b36;
    --black2:#131623;
    --font1: 'Roboto', sans-serif;
    --font2: 'Rubik', sans-serif;
    --font3: 'Varela Round', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--white2);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

/* section 1 */

.sec1{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    /* box-shadow: inset 0px 0px 45px -8px rgba(0,0,0,0.1); */
}

.blank{
    height: 80px;
    width: 100%;
    background-color: var(--black2);
}

.sec1Content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 0%; */
    flex-direction: column;
    color: var(--black2);
    background-color: var(--black2);
}

.sec1Content h1{
    color: var(--pink2);
    font-family: var(--font1);
    font-size:60px;
    letter-spacing: 2px;
}

.sec1Content p{
    color: white;
    font-family: var(--font3);

}




.sec2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.part{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font1);
    padding: 10px 100px;
    text-align: justify;
    line-height: 1.3;
    letter-spacing: 0.5px;
}
.part h3{
    font-size: 22px;
    font-weight: 900;
    color: var(--black2);
}

.part h1{
    font-family: var(--font1);
    color: var(--black2);
    font-size: 50px;
}

.part p{
    font-family: var(--font3);
    color: var(--black1);
    font-size: 17px;
    font-weight: 100;
    line-height: 2;
}

.part ul{
    padding-left: 40px;
    list-style: disc;
}

.part ul li p{
    font-family: var(--font3);
    color: var(--black1);
    font-size: 17px;
    font-weight: 100;
}

.footer{
    margin-top: 50px;
}




/* media query */

@media only screen and (max-width: 600px) {
    .sec1Content h1{
        font-size: 28px;
    }
    .sec2{
        margin-top: 20px;
    }
    .sec1Content p{
        font-size: 12px;
        padding: 5px;
    }
    .part{
        width: 100%;
        padding: 5px 15px;
        text-align: start;

    }
    .part h1{
        font-size: 24px;
    }
    .part p{
        font-size: 12px;
    }
    .secure{
        font-size: 21px !important;
    }
    .footer{
        margin-top: 10px;
    }
}

